<md-card layout-margin>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Data Filter</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <p>
      Your deployment of Angular 2 Seed worked perfectly!
      Click <em>about (above)</em> to get your reward!
    </p>
    State List... Goes here
          <md-input-container class="md-block" flex-gt-sm>
              Hello {{name}}
            <label>State</label>
            <select [(value)]="user.state">
              <option *ngFor="#state of states" [value]="state">
                {{state}}
              </option>
            </select>
          </md-input-container>

  </md-card-content>
</md-card>